html { background-color: #fff; }
body { padding-left: 0; padding-right: 0; background: transparent; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 200; text-align: left; }
h1,h2,h3,h4,h5 { font-weight:100; }

.btn { background: #fff; border: 1px solid #e6e6e6; background-image: -moz-linear-gradient(270deg, #fff 0%, #e6e6e6 100%); background-image: -webkit-linear-gradient(270deg, #fff 0%, #e6e6e6 100%); background-image: -o-linear-gradient(270deg, #fff 0%, #e6e6e6 100%); background-image: linear-gradient(180deg, #fff 0%, #e6e6e6 100%); font-weight:200; }
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }

/**************
* base styles *
***************/

.container-fluid.header { background: #1d1d1e; padding:10px; }
.container-fluid.header h1 { font-size: 26px; text-align:right; color:#fff; padding:0; margin:0; }
.container-fluid.header img.header-logo { display:block; }

.container-fluid.contact { background:#434345; padding:10px; }
.container-fluid.contact p { margin:0; color:#fff; }

.container.slider { margin-top:20px; margin-bottom:20px; }
.container.slider img.slider-image { width:100%; height:350px; }

.container.information { margin-top:20px; margin-bottom:20px; }
.container.information h2 { margin-top:0px; }

.container.products { margin-top:10px; margin-bottom:10px; }
.container.products div.product { padding:10px; border:1px solid #e6e6e6; margin-top:10px; margin-bottom:10px; }
.container.products div.product img { height:250px; width:100%; margin-top:10px; margin-bottom:10px; }
.container.products div.contact { height:100%; overflow:auto; padding:10px; border:1px solid #7aa6dc; background:#b0caea; margin-top:10px; margin-bottom:10px; }
.container.products div.contact input { margin-bottom:10px; padding:5px; }
.container.products div.contact textarea { width:100%; height:200px; padding:5px; resize:none; margin-bottom:10px; }

.container-fluid.testimonial { background:#434345; padding:60px 20px; }
.container-fluid div.testimonial { width:100%; height:100px; }
.container-fluid.testimonial p.testimonial { font-size:32px; color:#fff; font-weight:100; margin-bottom:0px; }
.container-fluid.testimonial p.person { font-size:24px; color:#fff; font-weight:100; margin-top:10px; margin-bottom:0px; }

.container-fluid.footer { background:#b0caea; padding-top:40px; padding-bottom: 40px; }
.container-fluid.footer img.footer-logo { display:block; float:right; }
.container-fluid.footer address { margin:0; }

/******************
* media queries   *
*******************/

/* Extra Small */
@media(max-width:767px){
  .container-fluid.header img.header-logo { margin-left:auto; margin-right:auto; }
  .container-fluid.header h1 { text-align:center; padding:0; margin:0; }
  .container-fluid.contact p { text-align:center; }
  .container.slider { display:none; }
  .container-fluid.testimonial { padding:40px 20px; }
  .container-fluid.footer img.footer-logo { margin-left:auto; margin-right:auto; float:none; margin-top:20px; }
  .container-fluid.footer address { text-align:center; }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  .container-fluid.header { padding-bottom:10px; }
  .container-fluid.header img.header-logo { margin-right:auto; }
  .container-fluid.header h1 { text-align:right;  float:right; margin-top:90px; }
  .container-fluid.contact p { text-align:center; }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  .container-fluid.header { padding-bottom:10px; }
  .container-fluid.header img.header-logo { margin-right:auto; }
  .container-fluid.header h1 { text-align:right; float:right; margin-top:90px; }
}

/* Large */
@media(min-width:1200px){
  .container-fluid.header { padding-bottom:10px; }
  .container-fluid.header img.header-logo { margin-right:auto; }
  .container-fluid.header h1 { text-align:right; float:right; margin-top:90px; }
}
