<h3 class="center">Contact Us</h3>
<div id="contact">
  <form id="contact-form">
      <p>If you wish to contact us via email regarding an enquiry please use the form below and we'll get back you as soon as possible:</p>
      <input class="col-xs-10" type="text" name="name" placeholder="Name">
      <input class="col-xs-10" type="email" name="email" placeholder="Email">
      <input class="col-xs-10" type="text" name="number" placeholder="Contact Number">
      <textarea class="col-xs-12" name="enquiry" placeholder="Your Enquiry"></textarea>
      <button name="send" type="submit" class="col-xs-12 btn" disabled="disabled">Send Email</button>
    </div>
  </form>
</div>
